.body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  background-color: rgb(201, 250, 213);
}
header {
  text-align: center;
  padding: 20px;
}
h1 {
  text-align: center;
  padding: 20px;
}
h2 {
  text-align: center;
  padding: 20px;
}

.content {
  margin: auto;
  max-width: 500px;
}

.btn {
  background-color: rgba(2, 53, 2, 0.644);
  border: none;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: whitesmoke;
  display: flex;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
  flex-grow: 1;
  justify-content: space-between;
}
.name {
  margin: auto;
  font-size: 22px;
  font-weight: bold;
}
.input {
  margin: auto;
}
.li {
  text-align: center;
  padding: 20px;
  font-size: 25px;
  font-family: sans-serif;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.hide {
  display: none;
}
@media screen and (max-width: 600px) {
  float: none;
  width: 100%;
}
